
.container{
  background: url("https://c4.wallpaperflare.com/wallpaper/221/505/111/hands-paint-children-happiness-wallpaper-preview.jpg");

   height:700px;
   background-position: fixed;
  background-size:cover;
  background-repeat: no-repeat;
/* filter: brightness(50%); */

}
